<div class="span6">
    <h1>My Bookmark</h1>
    <table class="table table-striped table-condensed">
        <thead>
            <tr>
                <th style="min-width: 80px;">URL:</th>
                <th style="width: 20px;">Valid?</th>
                <th style="width: 20px;"></th>
            </tr>
        </thead>
        <tbody>
        <tr ng-repeat="bookmark in bookmarks">
            <td>{{bookmark.url}}
                <div class="check-element animate-hide" ng-show="checked">
                {{bookmark.desc}}
                </div>
            </td>
            <td>{{bookmark.status}}</td>
            <td>
                <a class="btn btn-small btn-primary" ng-click="checked = !checked">show</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
