<!doctype html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sinatra App</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <%= yield %>
  </div>
  <!-- AngularJS-->
  <script src="js/angular.js"></script>
  <script src="js/angular-route.js"></script>
  <script src="js/angular-resource.js"></script>
  <script src="javascripts/app.js"></script>
  <script src="javascripts/controllers.js"></script>
  <script src="javascripts/services.js"></script>

  <!-- jQuery -->
  <script data-require="jquery" data-semver="1.4.3" src="http://code.jquery.com/jquery-1.4.3.min.js"></script>

  <script src="javascripts/scripts.js"></script>
  </body>
</html>
