<div class="container">
    <h1>Movie Detail</h1>

    <form novalidate="novalidate" class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="input_title">Title: </label>
            <div class="controls">
                <input type="text" id="input_title" ng-model="movie.title"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="input_director">Director: </label>
            <div class="controls">
                <input type="text" id="input_director" ng-model="movie.director"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="input_year">Year: </label>
            <div class="controls">
                <input type="text" id="input_year" ng-model="movie.year"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="input_synopsis">Synopsis: </label>
            <div class="controls">
                <textarea type="text" id="textarea_synopsis" ng-model="movie.synopsis">
                </textarea>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <a ng-click="cancel()" class="btn btn-small btn-default">cancel</a>
                <a ng-click="updateMovie()" class="btn btn-small btn-primary">update</a>
            </div>
        </div>
    </form>
</div>
